<div class= "graphs">
    <p><em>Graphs</em></p>
    <%= link_to 'fte', chandelier_fte_path, :class => 'btn' %><br/>
    <%= link_to 'employees', chandelier_employees_path, :class => 'btn' %><br/>
    <%= link_to 'salary', chandelier_salary_path, :class => 'btn' %><br/>
</div>
