<div class="span1">
  <br/><br/>
  <p>Topics:</p>
  <li><%= link_to 'Dictionary', competencies_path %></li>
  <li><%= link_to 'Visualisation', chandelier_graphs_path %></li>
</div>

<div class="span9">
  <h4>Welcome to the Dashboard</h4>
  <p>This page will display all relative data between all NROs using Blue Robin.</p>
  <p>For now the demo page will consist of two sections:
  <ul>
    <li>Competency Dictionary management</li>
    <li>Visualisation (graphs)</li>
  </ul>
  </p>
  <p>Be awesome and click one of the topics to find out more!</p>

  <h5>Future development</h5>
  <p>Future functions of the dashboard could include:
  <ul>
    <li>Salary overview of all offices</li>
    <li>Announcement function(s) and other communication tools</li>
    <li>Requests overview and other interaction tools</li>
    <li>Reporting functions exportable to pdf and excel</li>
  </ul>
  </p>
</div>

<div class="span2">
  <%= render 'menu' %>
</div>
