<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Job title</th>
    <th>Person</th>
    <th>Supervised by</th>
    <th></th>
  </tr>

<% @prtalks.each do |position| %>
  <% if position.office == current_user.user_office %>
    <tr>
      <td><%= position.next_performance_talk.strftime("%d %B %Y") unless position.next_performance_talk.nil? %></td>
      <td><%= link_to position.job_title, position %></td>
      <td><%= position.name %></td>
      <td><%= position.reports_to %></td>
    </tr>
  <% end %>
<% end %>
</table>
