<h4>Reporting</h4>
<%= link_to 'Back', home_index_path, :class => 'btn' %>

<div class="row-fluid">
  <div class="span1">
    <br/>
  </div>

  <div class="span4">
    <h4>HR data</h4>
    <p>In any decision making process it is essential to have the correct information. This function would provide the HR manager a neat overview of the current status of the HR in his/her NRO. For example diversity, average age, competency levels, number of vacancies, number of positions, number of unique positions, number of FTEs. In order to have this function the 'HR profile' is essential.</p>
  </div>

  <div class="span4">
    <h4>Salary analysis</h4>
    <p>If salary is defined in the database (in the job description form) it would be possible to run a salary analysis. Since this is on a national level it could be even more detailed. For example having an overview of who is in which competency category.</p>
    <p>Furtheremore it would be an unique opportunity for the HR manager to set a yearly salary expense budget. Then this page could display whether the are sitting above or under their yearly budget. This would be a nice little feature for budget control.</p>
  </div>

  <div class="span3">
    <br/>
  </div>
</div>
