<h4>Dictionary</h4>
<%= link_to 'Back', home_index_path, :class => 'btn' %>
<div class="row-fluid">
  <div class="span4">
    <h4>Requests</h4>
    <p>Requests can be filed here. So if you need an extra competency added to the dictionary it can be filed here and will appear on the livescreen which GPI manages. Also the status of the request will be displayed here (pending, approved, rejected).</p>
  </div>

  <div class="span4">
    <h4>Noticifactions</h4>
    <p>Notifications by GPI will be displayed also on this page. For example: "The latest version of the dictionary is out now, it contains two new competencies..". This aids GPI to commmunicate announcements to the operational levels</p>
    <h4>Language</h4>
    <p>The dictionary will be displayed in the language of choice of the user. So if French, then the French dictionary will be displayed.</p>
  </div>

  <div class="span4">
    <h4>Exporting to Excel</h4>
    <p>Another function which could be build in is the export function to excel. This could contain valuable data like, which position uses which competency. In this way it is easy to see any relation which aids the HR manager to make decisions. Also each level of profiency of the employee can be displayed in each competency which helps the HR manager to identify strenghts and weaknesses inside his/her organisation/staff.</p>
  </div>
</div>
