<h2>Human Resources - Home</h2>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%= render 'menu' %>
    </div>
    <div class="span10">
      <% @tweets.each do |tweet| %>
        <p id="comments"><%= tweet.body %></p><br/>
      <% end %>
    </div>
  </div>
</div>
