<h4>Process control</h4>
<%= link_to 'Back', home_index_path, :class => 'btn' %>

<div class="row-fluid">
  <div class="span1">
    <br/>
  </div>

  <div class="span4">
    <h4>Set prt dates</h4>
    <p>It would be a neat function to control the prt process according competencies. This means that easily prt dates for each position can be filed into the database and can be displayed on the home screen. This will help the HR manager to have an overview of the PRT process.</p>
  </div>

  <div class="span4">
    <h4>Template handling</h4>
    <p>Of couse a function needs to be build in to generate a standard PRT template. This template just gets the data of the database like name, job title, date of birth and also a list of competencies and maybe even more. This could be very neat because then the HR manager could just generate a PRT form by pressing a button. Also this provides GPI the opportunity to provide several standard templates for PRTs.</p>
  </div>

  <div class="span3">
    <br/>
  </div>
</div>
