<h1><br/></h1>
<div class="span1">
  <br/>
</div>

<div class="span10">
  <% @competencies.each do |competency| %>
    <li><%= competency.competency_name %></li><br/>
  <% end %>
</div>

<div class="span1">
  <br/>
</div>
