<div class="span1">
  <br/><%= link_to 'Edit competency profile', edit_competency_profile_position_path %>
</div>

<div class="span10">
  <p>some content</p>
</div>

<div class="span1">
  <br/>
</div>
