// Place all the styles related to the Positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left_button {
  position: fixed;
  left: 5%;
}

#right_button {
  position: fixed;
  right: 5%;
}

#competency_field {
  width: 500pt;
}
